<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    
</head>
<body>   
    <div class="navbar navbar-inverse">
        <div style="width:100%;overflow:hidden">
            <div style="width:15%;float:left">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <h2 style="color:chocolate;font-style:italic;font-size:larger;margin-left:17px;margin-top:7px">
                        @Html.ActionLink("Имя приложения", "Index", "Home")
                    </h2>
                </div>                
            </div>
            <div style="width:85%;float:right">
                 <div class="search">
                     <input type="text" class="searchTerm" size="200" placeholder="Поиск тут">
                     <button type="submit" class="glyphicon-search" />
                 </div>
            </div>
        </div>        
    </div>
    <div style="width:100%;overflow:hidden;">
        <div style="width:15%; float:left;">
            <div class="navbar navbar-left navbar-inverse">
                <div class="navbar-left">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-left">
                            <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                            <li>@Html.ActionLink("О программе", "About", "Home")</li>
                            <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:85%; float:right; background-color:gainsboro;">

            <h2>@RenderBody()</h2>
            <h2>RenderBody</h2>
        </div>
    </div>
    <div class="navbar navbar-form">
        <div class="container body-content">
                        
            <footer>
                <p>Донышко сайта</p>
                <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
